a{color: bisque;}
h1{color: gold;text-align: center;font-size: 150%;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
body{background-color: black;color: gold;font-size: 150%;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;background-image:url('/images/salmm.jpeg') ;background-size: cover;}
p{text-align: right;}