a{color: beige;}
h1{font-size:200% ; font-family: Georgia, 'Times New Roman', Times, serif;color:gold ; text-align: center;}
body{background-color: black;color: gold;font-size: 150%;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-image:url('/images/beef.jpeg') ;background-size: cover;       }
p{text-align: right;}