h1{text-align: center; color:goldenrod ;font-size: 200%;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
body{background-color: black;color:gold ;font-size: 150%;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;background-image:url('/images/sasa.jpg') ;background-size: cover; }
p{text-align:right ;}
a{color: beige;}