h1{color:gold ; text-align: center;}
body{font-size:150% ;background-color: black ;color:gold ;background-image:url('/images/sp.jpeg') ;background-repeat: no-repeat;background-size: cover; }
p{text-align:right ; font-size:100% ;}
a{color: white;}