h1{color: gold;font-size:150% ; text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
body{background-color: black;color: gold;background-image:url('/images/sush.jpeg') ;background-size: cover;font-size:150%; }
p{text-align: right;}
a{color: beige;}